:root {
  --font-main: 'Montserrat', sans-serif;
  --font-secondary: 'Nunito', sans-serif;
  --white: #FFFFFF;
  --white-lighter: #FAFAFD;
  --gray: #999999;
  --gray-lighter: #F2F2F2;
  --gray-darker: #C4C4C4;
  --black: #333333;
  --black-lighter: #4E5C66;
  --blue: #21BDCA;
  --blue-lighter: #E1F1F2;
  --sky-blue: #6FD0D7;
  --royal-blue: #5372E7;
  --green: #219653;
  --bg-icon-yellow: #FFE3BE;
  --bg-icon-blue: #EAEEFF;
  --bg-icon-red: #F6E5E5;
  --box-shadow: 10px 24px 54px 0px rgba(51, 51, 51, 0.05);
  --box-shadow-lighter: 10px 24px 54px 0px rgba(51, 51, 51, 0.03);

}

* { 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  font-family: var(--font-main);
  background-color: var(--white);
  font-size: 1rem;
  font-weight: 500;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
